.gallery {
    background-color: #FFFFFF;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    max-width: 1440px;
    transition: max-width 0.5s ease-in-out, border-bottom-left-radius 2s ease-in-out, border-bottom-right-radius 2s ease-in-out;
}
@media screen and (max-width: 1439px) {
    .gallery {
        max-width: 1175px;
    }
}

@media screen and (max-width: 1175px) {
    .gallery {
        border-radius: 0px;
    }
}