.header__dropdown-menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 80px;
    opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    gap: 13px;
    background-color: rgba(113, 191, 235, 0.9);
    border-bottom-left-radius: 15px;
}

.header__dropdown-menu_active {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

@media screen and (min-width: 1175px) {
    .header__dropdown-menu {
        display: none;
    }
}
 